* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Archivo", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 57px 0 42px 0;
  align-items: center;
}

.basket_counter {
  background-color: black;
  color: white;
  padding: 5px;
}

.basket_list {
  position: absolute;
  z-index: 1;
  border: solid;
  top: 156px;
  right: 168px;
  background-color: white;
}

.basket_list_product {
  display: flex;
  margin: 0 24px 24px 27px;
  justify-content: space-between;
  align-items: center;
}

.basket_list img {
  max-height: 149px;
  max-width: 86px;
}

.basket_list button {
  background: #ffffff;
  border: 3px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 23px;
  line-height: 25px;
  width: 390px;
  margin: 15px 24px 22px 27px;
  height: 55px;
}

.banner_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.title {
  margin-top: 62px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 35px;
}

.add_card_button {
  background: #000000;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 25px;
  letter-spacing: 0.07em;
  padding: 13px 39px 13px 39px;
}

.banner_wrapper {
  position: relative;
  max-height: 550px;
  overflow: hidden;
}

.banner_image {
  width: 100%;
}

.small {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 1;
  width: 271.95px;
  height: 67px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 22px;
}

.banner_details {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}

.left {
  width: 690px;
  height: 299px;
}

.left_title {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.left_details {
  font-size: 18px;
  line-height: 150%;
  color: #656565;
}

.right {
  text-align: right;
  margin-bottom: 65px;
}

.right_title {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  text-align: right;
}

.small_images img {
  max-width: 117px;
  max-height: 147px;
  margin-left: 20px;
}

.right_details {
  margin-top: 54px;
}

.right_details_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  text-align: right;
}

.right_details p {
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  color: #656565;
}

.titles {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
}

.title_section {
  display: flex;
  font-size: 30px;
  line-height: 33px;
}

.sorting_section {
  display: flex;
  font-size: 22px;
  align-items: center;
}

.sorting_section select {
  border: none;
  font-size: 20px;
}

.filter_icon {
  cursor: pointer;
  visibility: hidden;
}

.products_wrapper {
  display: flex;
}

.filters_wrapper {
  width: 306px;
}

.filters_wrapper p {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 43px;
}

.filters_wrapper ul {
  margin-left: -40px;
  list-style-type: none;
}

.filters_wrapper li {
  margin-bottom: 40px;
  font-size: 22px;
}

.filters_wrapper input {
  margin-right: 23px;
}

.product_images {
  display: flex;
  flex-wrap: wrap;
  width: 970px;
  text-align: left;
  margin-top: 26px;
  align-items: flex-start;
}

.product_images img {
  width: 100%;
  object-fit: cover;
  display: block;
  max-height: 399px;
}

.card {
  width: calc((100% / 3) - 16px);
  margin-right: 24px;
  position: relative;
  margin-bottom: 50px;
}

.card_image {
  position: relative;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card:hover > .card_image .hover_add {
  visibility: visible;
}

.hover_add {
  visibility: hidden;
  position: absolute;
  background: #000000;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 25px;
  letter-spacing: 0.07em;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.bestseller {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.product_info_cat_name {
  font-size: 22px;
  color: #656565;
}

.product_info_prod_name {
  font-size: 34px;
  /* margin-top: -18px; */
}

.product_info_price {
  font-size: 29px;
  /* margin-top: -32px; */
  color: #656565;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 107px 0 61px 290px;
}

.pagination button {
  font-size: 29px;
  background-color: white;
  color: #b4b4b4;
  margin: 0 15px;
  cursor: pointer;
  border: none;
}

.isActivePage {
  color: black !important;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {
  .filters_wrapper {
    display: none;
  }

  .banner {
    display: flex;
    flex-direction: column;
  }

  .banner_header {
    display: block;
  }

  .left {
    width: 100%;
    height: unset;
  }

  .product_info *,
  .product_info,
  .hover_add {
    margin-top: 0;
  }

  .banner_details {
    flex-direction: column;
    align-items: end;
  }

  .title_section p {
    font-size: 20px;
  }

  .sorting_section {
    display: none;
  }

  .filter_icon {
    visibility: visible;
  }

  .card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .hover_add {
    position: relative;
    visibility: visible;
    bottom: unset;
  }

  .filters_wrapper.visible {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: white;
    display: block;
    width: 100%;
    padding: 2em;
    height: 100vh;
    overflow-y: auto;
  }

  .filter_buttons {
    position: fixed;
    bottom: 0;
    margin-left: 70px;
  }

  .pagination {
    margin: unset;
  }
}
